{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type= "imagem/png" href= "{% static 'imagens/games.png' %}" />
	<!-- <script src="main.js"></script>-->
</head>
<body>


    
    

    <table border="1" width="800" cellspacing = "0" cellpadding = "0" align = "center">
            <tr> 
                <td align = "center"><img src="{% static 'imagens/bannerHome.png' %}" alt="some text" align = "center" width="800"></td>
            </tr>
    </table>
    <table border="1" width="800" cellspacing = "0" cellpadding = "0" align = "center">
        <tr>
            <td width = "200" align = "center"><a href="../index/">INICIO</a></td>
            <td width = "200" align = "center"><a href="../ps4/">PS4</a></td>
            <td width = "200" align = "center"><a href="../xboxOne/">XBOX ONE</a></td>
            <td width = "200" align = "center"><a href="../nintendoSwitch/">NINTENDO SWITCH</a></td>
			<td width = "200" align = "center"><a href="../login/">LOGIN</a></td>
        </tr>

    </table>
</br>
</br>
</br>
</br>
    <table border="0" width="800" cellspacing = "5" cellpadding = "0" align = "center">
            

            <tr>
                    <td colspan="4" height="70">                 
                    </td>
                </tr>
            <tr>
                    <td  colspan="4" align = "center"><img src= "{% static 'imagens/ps4/ps4.png' %}"alt="some text"></td>
            </tr>
            <tr>
                    <td width = "200" align = "center"><a href="../ps4/"><h4>GOD OF WAR</h4></a>

                    </td>
                    <td width = "200" align = "center"><a href="../ps4"><h4>RESIDENTE EVIL 2</h4></a>

                    </td>
                    <td width = "200" align = "center"><a href="../ps4"><h4>SPIDER-MAN</h4></a>

                    </td>
                    <td width = "200" align = "center"><a href="../ps4"><h4>SHADOW OF THE COLOSSUS</h4></a>

                    </td>
            </tr>
            <tr>
                <td align = "center"><img src="{% static 'imagens/ps4/godOfWar.jpg' %}" alt="some text" align = "center"> 

                </td>
                <td align = "center"><img src="{% static 'imagens/ps4/residentEvil2.jpg' %}" alt="some text" align = "center"> 

                </td>
                <td align = "center"><img src="{% static 'imagens/ps4/spiderMan.jpg' %}" alt="some text" align = "center"> 

                </td>
                <td align = "center"><img src="{% static 'imagens/ps4/shadowOfTheColossus.jpg' %}" alt="some text" align = "center"> 

                </td>
            </tr>

            <tr>
                <td colspan="4" height="70">                 
                </td>
            </tr>
            <tr>
                    <td  colspan="4" align = "center"><img src= "{% static 'imagens/xboxOne/xbox.png' %}" alt="some text"></td>
            </tr>
            <tr>
                    <td width = "200" align = "center"><a href="../xboxOne.html"><h4>DARKSIDERS 3</h4></a>

                    </td>
                    <td width = "200" align = "center"><a href="../xboxOne.html"><h4>HALO INFINITE</h4></a>

                    </td>
                    <td width = "200" align = "center"><a href="../xboxOne.html"><h4>JUMP FORCE</h4></a>

                    </td>
                    <td width = "200" align = "center"><a href="../xboxOne.html"><h4>METRO EXODUS</h4></a>

                    </td>
            </tr>
            <tr>
                    <td align = "center"><img src= "{% static 'imagens/xboxOne/darkSiders3.jpg' %}"  alt="some text" align = "center"> 
    
                    </td>
                    <td align = "center"><img src= "{% static 'imagens/xboxOne/haloInfinite.jpg' %}" alt="some text" align = "center"> 
    
                    </td>
                    <td align = "center"><img src= "{% static 'imagens/xboxOne/jumpForce.jpg' %}"  alt="some text" align = "center"> 
    
                    </td>
                    <td align = "center"><img src= "{% static 'imagens/xboxOne/metroExodus.jpg' %}" alt="some text" align = "center"> 
    
                    </td>
                </tr>

                <tr>
                        <td colspan="4" height="70">                 
                        </td>
                    </tr>

                    <tr>
                            <td  colspan="4" align = "center"><img src= "{% static 'imagens/nintendoSwitch/nintendoLogo.png' %}" alt="some text"></td>
                    </tr>

                    <tr>
                            <td width = "200" align = "center"><a href="../nintendoSwitch.html"><h4>SUPER MARIO ODYSSEY</h4></a>
        
                            </td>
                            <td width = "200" align = "center"><a href="../nintendoSwitch.html"><h4>ZELDA</h4></a>
        
                            </td>
                            <td width = "200" align = "center"><a href="../nintendoSwitch.html"><h4>SPLATOON 2</h4></a>
        
                            </td>
                            <td width = "200" align = "center"><a href="../nintendoSwitch.html"><h4>POKEMON LETS GO</h4></a>
        
                            </td>
                    </tr>
                    <tr>
                            <td align = "center"><img src= "{% static 'imagens/nintendoSwitch/superMarioOdyssey.jpg' %}" alt="some text" align = "center"> 
            
                            </td>
                            <td align = "center"><img src= "{% static 'imagens/nintendoSwitch/zelda.jpg' %}" alt="some text" align = "center"> 
            
                            </td>
                            <td align = "center"><img src= "{% static 'imagens/nintendoSwitch/splatoon2.jpg' %}" alt="some text" align = "center"> 
            
                            </td>
                            <td align = "center"><img src= "{% static 'imagens/nintendoSwitch/pokemonLetsGoEevee.jpg' %}" alt="some text" align = "center"> 
            
                            </td>
                        </tr>

                

    </table>



</body>
</html>

