{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type= "imagem/png" href= "{% static 'imagens/games.png' %}" />
    <script src="main.js"></script>
</head>
<body>

        <table border="1" width="800" cellspacing = "0" cellpadding = "0" align = "center">
                <tr>
                    <td align = "center"><img src="{% static 'imagens\bannerHome.png' %}" alt="some text" align = "center" width="800"></td>
                </tr>
        </table>
        <table border="1" width="800" cellspacing = "0" cellpadding = "0" align = "center">
            <tr>
                    <td width = "200" align = "center"><a href="../index/">INICIO</a></td>
					<td width = "200" align = "center"><a href="../ps4/">PS4</a></td>
					<td width = "200" align = "center"><a href="../xboxOne/">XBOX ONE</a></td>
					<td width = "200" align = "center"><a href="../nintendoSwitch/">NINTENDO SWITCH</a></td>
					<td width = "200" align = "center"><a href="../login/">LOGIN</a></td>
            </tr>
    
        </table>
</br>
</br>
</br>
</br>
</br>
        <table width="800" cellspacing = "0" cellpadding = "0" align = "center">
                <tr>
                    <td align = "center"> <h1>PS4</h1> </td>
                </tr>
                <tr>
                        <td>&nbsp;</td>
                 </tr>
                 <tr>
                    <td align = "center"><img src= "{% static 'imagens\ps4\ps4console.png' %}" alt="some text" align = "center"></td>
                 </tr>
                 <tr>
                     <td>
                            <p align="center">
                                    PlayStation 4, conhecido como PS4, é o novo video game da Sony, sucessor do PS3 e o quarto da série PlayStation. O PS4 será o primeiro da Sony a apresentar compatibilidade com a arquitectura x86-64, uma plataforma acomum em muitos dos PCs modernos. Desta maneira o desenvolvimento de jogos será mais fácil. Além disso o PS4 inclue 8GB de memória e um leitor de Blu-ray mais rápido. 
                            </p>
                            <ul>
                                    <li>Lançamento: 15/11/2013</li>
                                    <li>Desenvolvedora: Sony</li>
                                    <li>Lançamento: 15/11/2013</li>
                                    <li>CPU: AMD "Jaguar" 8-core CPU x86-64 (integrado com APU)</li>
                                    <li>Gráficos: Semi-custom AMD Radeon GPU (integrado em APU)</li>
                                    <li>Conectividade: 802.11 b/g/n Wireless, Bluetooth 2.1, USB 3.0, Ethernet 10/100/1000</li>
                                    
                            </ul>
  


                     </td>
                 </tr>
                 <tr>
                     <td>
                            <iframe width="800" height="600" src="https://www.youtube.com/embed/TQfLir0QXiw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </td>
                 </tr>
            </table>
    </br>
    </br>
    </br>
    </br>
    </br>

        <table width="800" cellspacing = "0" cellpadding = "0" align = "center">
            <tr>
                <td align = "center" > <h2>GOD OF WAR</h2> </td>
            </tr>
            <tr>
                    <td>&nbsp;</td>
             </tr>
             <tr>
                <td align = "center"><img src= "{% static 'imagens\ps4\godOfWarM.jpg' %}" alt="some text" align = "center"></td>
             </tr>
             <tr>
                 <td>
                        <p align="center">
                                God of War traz um novo começo para Kratos. Vivendo como um homem comum, longe das sombras dos deuses, ele busca solidão nas distantes e desconhecidas terras da mitologia nórdica. Com novos propósitos, e desta vez com seu filho ao seu lado, Kratos deve lutar pela sobrevivência conforme forças misteriosas ameaçam destruir a vida nova que ele criou. 
                        </p>
                 </td>
             </tr>
             <tr>
                 <td>
                        <iframe width="800" height="600" src="https://www.youtube.com/embed/FyIwEFXOcaE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </td>
             </tr>
        </table>
</br>
</br>
</br>
</br>

<table width="800" cellspacing = "0" cellpadding = "0" align = "center">
        <tr>
            <td align = "center"> <h2>RESIDENT EVIL 2</h2> </td>
        </tr>
        <tr>
                <td>&nbsp;</td>
         </tr>
         <tr>
            <td align = "center"><img src= "{% static 'imagens\ps4\residentEvil2M.jpg' %}" alt="some text" align = "center"></td>
         </tr>
         <tr>
             <td>
                    <p align="center">
                            Resident Evil 2 traz de volta o terror clássico, a exploração tensa e enigmas que definiram a série. Este remake colocará o jogador junto de Leon Kennedy e a estudante Claire Redfield que acabam se unindo após um surto espalhar-se em Raccoon City, transformando toda população em zumbis mortais. Tanto Leon e Cleir têm suas campanhas separadas como no original, permitindo que os jogadores vejam a história pela perspectiva de ambos. O destino desses dois personagens está nas mãos dos jogadores. 
                    </p>
             </td>
         </tr>
         <tr>
             <td>
                    <iframe width="800" height="600" src="https://www.youtube.com/embed/xtxJtQa6VSw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </td>
         </tr>
    </table>
</br>
</br>
</br>
</br>

<table width="800" cellspacing = "0" cellpadding = "0" align = "center">
        <tr>
            <td align = "center"> <h2>SPIDER-MAN</h2> </td>
        </tr>
        <tr>
                <td>&nbsp;</td>
         </tr>
         <tr>
            <td align = "center"><img src= "{% static 'imagens\ps4\spiderManM.jpg' %}" alt="some text" align = "center"></td>
         </tr>
         <tr>
             <td>
                    <p align="center">
                            Estreando um dos super-heróis mais icônicos do mundo, Spider-Man (nome provisório) traz as habilidades acrobáticas, improvisação e balançar de teias pelo qual o herói é famoso, ao mesmo tempo que traz elementos nunca antes vistos em jogos da franquia. Desde utilizando parkour e o ambiente para se deslocar, até novos modos de combate, este jogo é algo totalmente novo que você nunca viu antes. 
                    </p>
             </td>
         </tr>
         <tr>
             <td>
                    <iframe width="800" height="600" src="https://www.youtube.com/embed/8pR0o2fGyHg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </td>
         </tr>
    </table>
</br>
</br>
</br>
</br>

<table width="800" cellspacing = "0" cellpadding = "0" align = "center">
        <tr>
            <td align = "center"> <h2>SHADOW OF THE COLOSSUS</h2> </td>
        </tr>
        <tr>
                <td>&nbsp;</td>
         </tr>
         <tr>
            <td align = "center"><img src= "{% static 'imagens\ps4\shadowOfTheColossusM.jpg' %}" alt="some text" align = "center"></td>
         </tr>
         <tr>
             <td>
                    <p align="center">
                            Lançado originalmente para Playstation 2 em 2005, Shadow of the Colossus ganha um remake completo, sendo refeito inteiramente para o Playstation 4. Assim, uma das aventuras mais épicas já feitas ganha uma nova vida.

As lendas falam de uma terra antiga aonde vagam criaturas do tamanho de montanhas. Ligadas à terra, tais criaturas possuem a chave para o poder místico da ressurreição — um poder que você precisa para poder despertar uma pessoa amada. Shadow of the Colossus é uma jornada fantástico através de terras antigas para buscar e destruir bestas místicas colossais. Com seu fiel cavalo ao seu lado, explore vastos cenários e enfrente cada um dos colossos. Armado com sua vontade, uma espada e um arco, use estratégia e habilidade para superar cada desafio. 
                    </p>
             </td>
         </tr>
         <tr>
             <td>
                    <iframe width="800" height="600" src="https://www.youtube.com/embed/pdZQ98mWeto" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </td>
         </tr>
    </table>
</br>
</br>
</br>
</br>



    
</body>
</html>